/*Footer*/
.piePagina {
    background-color: rgba(127, 238, 255, 0.426);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 10px;
   
}

.pieLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pieLogo > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
}

.pieLogo a {
    margin: 0 5px;
}

.logoPie {
    height: 100px;
    width: 100px;
}

.pieMapa {
    margin: 10px;
}

.pieMapa iframe {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.pieIconos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieIconos a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pieIconos i {
    font-size: 250%;
}