/*Nosotros*/

.carousel {
    display: flex;
    width: 80%;
    margin: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.carousel-item img {
    margin: 50px;
    
}

.carousel h5, .carousel p {
    text-shadow: 2px 2px 2px black;
}