/*Index*/

.inicioS1 {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    align-items: center;

    .inicioS1A1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        text-align: center;
        padding: 20px;
        align-items: center;

        img {
            height: 200px;
            width: 300px;
        }
    }
    
    .inicioS1A2 {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}


.inicioS2 {
    height: 100px;
    width: 100%;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inicioS3 {
    display: inline-flex;
    height: 500px;
    width: 100%;
    align-items: center;

    .inicioS3A1 {
        height: 100%;
        width: 50%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .inicioS3A2 {
        width: 50%;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
}


.inicioS4 {
    position: relative;

    img {
        display: block;
        width: 100%;
        height: 600px;
    }

    h3 {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        color: azure;
        font-size: 40px;
        text-shadow: 3px 3px 1px black;
    }
}


.inicioS5 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    article {
        height: 400px;
        width: 300px;
        margin: 20px;
        text-align: center;
        align-items: center;
    }
}